footer {
    margin-top: 50px;

    .main-rrss {
        width: 240px;
        margin: auto;
        
        li {
            a {
                img {
                    width: 28px;
                }
            }
        }
    }
}
