.flex-grid-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    .flex-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.flex-grid-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .flex-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
