header {
    #logo-15d {
        img {
            display: block;
            margin: auto;
            max-width: 150px;
            @media #{$tablet}{
                max-width: 300px;
            }
        }
        .slogan-15d {
            margin-top: 5px;
            @include textos($titillium, 16px, 400, initial, italic, center, white);
        }
    }
}
