// Textos
@function calcRem($size) {
    $remSize: $size / $rem;
    @return #{$remSize}rem;
}

@mixin textos($f-family, $f-size, $f-weight, $f-style, $text-align, $color){
    font-family: $f-family;
    font-size: calcRem($f-size);
    font-weight: $f-weight;
    font-style: $f-style;
    text-align: $text-align;
    color: $color;
}