// Tamaño REM
$rem: 20px;

// Tipografías
$titillium: 'Titillium Web', sans-serif;

// Tamaños pantalla (Mobile First)
$mobile-lg: '(min-width: 480px)';
$tablet: '(min-width: 768px)';
$desktop-sm: '(min-width: 992px)';
$desktop-lg: '(min-width: 1200px)';